<h1>Dashboard в режиме Viewer</h1>

<div class="dx-field">
    <dx-drop-down-button
      text="Переключить тему"
      [dropDownOptions]="{ width: '100%' }"
      icon="toolbox"
      [items]="themeNames"
      displayExpr="name"
      keyExpr="id"
      (onItemClick)="onThemeNameClick($event)"
    ></dx-drop-down-button>
</div>

<dx-dashboard-control
  style="display: block;width:100%;height:800px;"
  workingMode='Viewer'
  endpoint="https://demos.devexpress.com/services/dashboard/api"
  (onBeforeRender) = "onDashboardBeforeRender($event)"
  (onDashboardInitialized) = "onDashboardInit($event)"
>
</dx-dashboard-control>
