nav {
  width: 100%;
  min-height: 20px;
  padding-bottom: 5px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size:110%;

  & > a:not(:last-child) {
    margin-right: 20px;
  }
}
