<h1>Примеры использования DevExtreme компонентов</h1>
<h3>кнопка из набора devextreme компонентов</h3>
<dx-button
  text="Нажми меня!"
  (onClick)="helloWorld()">
</dx-button>

<br>
<br>
<br>

<h3>Таблица из набора devextreme компонентов</h3>
<dx-data-grid
  [dataSource]="employees"
  keyExpr="EmployeeID">
</dx-data-grid>

<br>
<br>
<br>
<br>

<h3>Ссылка на документацию с остальными компонентами</h3>
<p><a href="https://js.devexpress.com/DevExtreme/Guide/UI_Components/" target="_blank">https://js.devexpress.com/DevExtreme/Guide/UI_Components/</a></p>
